.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ANCHOR Nav */
.nav {
  display: flex;
}

.nav li:first-child {
  width: 20%;
}
.nav > div {
  width: 60%;
}

.category {
  display: flex;
  justify-content: space-around;
}

.genre-cotanier {
  position: relative;
}

.genres {
  position: absolute;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem 2rem;
  padding: 30px;
}
.movie-container > div > h2 {
  font-size: 0.8rem;
  text-align: center;
}

.movie-container img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
