/* ANCHOR Nav */
.nav {
  display: flex;
  color: #fff;
  margin: 0;
  padding: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav li:first-child {
  width: 20%;
}
.nav > div {
  width: 60%;
}

.category {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.genre-cotanier {
  position: relative;
}

.genres {
  position: absolute;
}

/* ANCHOR Genre Line */

.line-container {
  position: relative;
  width: auto;
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
}
.line-container h2 {
  color: #fff;
}

.line-movie {
  display: flex;
}

.line-movie > div {
  min-width: 200px;
  max-width: 200px;
}

/* SECTION pagnition */
.left-pagnition {
  position: absolute;
  left: 0;
  top: 42%;
}

.right-pagnition {
  position: absolute;
  right: 0;
  top: 42%;
}
/* !SECTION */

/* ANCHOR Movie*/
.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem 2rem;
  padding: 30px;
}
.movie {
  margin: 3px;
  cursor: pointer;
}
.movie > h2 {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.movie img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
  pointer-events: none;
}

/* ANCHOR Search bar */
.search-bar {
  width: 250px;
  /* height: 50px; */
  background: none;
  color: "#000";
}

.search-bar > div {
  background: none;
  color: "#000";
}

.search-bar > input {
  color: #fff;
}

/* ANCHOR Modal */
.movie-details {
  color: #fff;
  padding: 0px 10px;
}

.detail-container {
  display: flex;
  justify-content: space-around;
}
